.rotating {
    -webkit-animation: slow 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes slow {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}